<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".BooxHandoffActivity" android:exported="true">
            <intent-filter>
                <action android:name="dev.inkbridge.boox.action.INSTALL_NEXT" />
                <action android:name="dev.inkbridge.boox.action.OPEN_ACTIVE" />
                <action android:name="dev.inkbridge.boox.action.FINALIZE_ACTIVE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>